* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

:root {
    --index: calc(1vw + 1vh);
}

.app {
    font-family: "raleway", serif;
    background-color: #010101;
    color: #e7e7e0;
    line-height: 1.55;
}